# Node
node_modules/
.npm/
.pnpm-store/
.next/
out/
build/
dist/

# PHP
backend/vendor/
backend/.env
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/public/build
backend/database/*.sqlite

# Docker
.docker-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.husky/_/
